In [1]:
import sys, os

sys.path.append("../src")
#sys.path.append(os.path.join(os.path.dirname(__file__), '..', 'src'))
import medical_practice as mp
import medical_checks as mc

ModuleNotFoundError: No module named 'medical_practice'

In [49]:
import pandas as pd
import altair as alt
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

### 性年齢データ

In [ ]:
df_raw = mp.load_data(mp.urls[1])

df_raw = mp.load_data(mp.urls[-1])

In [6]:
index_cols = []
for col in df_raw.columns:
    if col[0] != "男" and col[0] != "女":
        index_cols.append(col[0])

index_cols_1 = []
for i in range(len(index_cols)):
    index_cols_1.append(f"Unnamed: {str(i)}_level_1")

df = df_raw.melt(id_vars=index_cols, col_level=0, var_name="性別").join(
        df_raw.melt(id_vars=index_cols_1, col_level=1, var_name="年齢")["年齢"]
)
df["value"] = df["value"].replace("-", "0")

In [7]:

df.shape

(204708, 12)

In [8]:
df.head()

,薬効\n分類,薬効分類名称,医薬品\nコード,医薬品名,単位,薬価基準収載\n医薬品コード,薬価,後発品\n区分,総計,性別,value,年齢
0,112.0,催眠鎮静剤，抗不安剤,611170508,ソラナックス０．４ｍｇ錠,錠,1124023F1037,7.9,0,38808774.85,男,0,0～4歳
1,112.0,催眠鎮静剤，抗不安剤,610443047,マイスリー錠５ｍｇ,錠,1129009F1025,37.0,0,32841202.8,男,0,0～4歳
2,112.0,催眠鎮静剤，抗不安剤,611120055,ハルシオン０．２５ｍｇ錠,錠,1124007F2026,13.0,0,29554412.45,男,0,0～4歳
3,112.0,催眠鎮静剤，抗不安剤,610443048,マイスリー錠１０ｍｇ,錠,1129009F2021,59.2,0,25930690.75,男,0,0～4歳
4,112.0,催眠鎮静剤，抗不安剤,620004625,レンドルミン錠０．２５ｍｇ,錠,1124009F1223,22.5,0,25688208.5666,男,0,0～4歳

In [9]:
df['年齢'].unique()

array(['0～4歳', '5～9歳', '10～14歳', '15～19歳', '20～24歳', '25～29歳', '30～34歳',
       '35～39歳', '40～44歳', '45～49歳', '50～54歳', '55～59歳', '60～64歳',
       '65～69歳', '70～74歳', '75～79歳', '80～84歳', '85～89歳', '90～94歳',
       '95～99歳', '100歳以上'], dtype=object)

In [ ]:
# column sortが効かないので指定する
age_cols = ['0～4歳', '5～9歳', '10～14歳', '15～19歳', '20～24歳', '25～29歳', '30～34歳',
       '35～39歳', '40～44歳', '45～49歳', '50～54歳', '55～59歳', '60～64歳',
       '65～69歳', '70～74歳', '75～79歳', '80～84歳', '85～89歳', '90～94歳',
       '95～99歳', '100歳以上']
val_plot = (
        alt.Chart(df)
        .mark_bar()
        .encode(
            y=alt.Y("sum(value):Q", axis=alt.Axis(title="診療費")),
            x=alt.X("性別:N", axis=alt.Axis(title=None, labels=False)),
            color="性別:N",
            column=alt.Column("年齢:N", sort=age_cols),
            tooltip=["年齢", "sum(value):Q"],
        )
        .properties(width=20)
)
val_plot

### 健康診断データ可視化

In [5]:
mc.titles

['BMI 都道府県別性年齢階級別分布',
 'GOT（AST） 都道府県別性年齢階級別分布',
 'GPT（ALT） 都道府県別性年齢階級別分布',
 'HbA1c 都道府県別性年齢階級別分布',
 'HDLコレステロール 都道府県別性年齢階級別分布',
 'LDLコレステロール 都道府県別性年齢階級別分布',
 'γ-GT（γ-GTP） 都道府県別性年齢階級別分布',
 'ヘモグロビン 都道府県別性年齢階級別分布',
 '各項目の平均値 都道府県別性年齢階級別分布',
 '拡張期血圧 都道府県別性年齢階級別分布',
 '眼底検査（SCOTT分類) 都道府県別性年齢階級別分布',
 '眼底検査（キースワグナー分類） 都道府県別性年齢階級別分布',
 '眼底検査（シェイエ分類：H） 都道府県別性年齢階級別分布',
 '眼底検査（シェイエ分類：S） 都道府県別性年齢階級別分布',
 '空腹時血糖 都道府県別性年齢階級別分布',
 '収縮期血圧 都道府県別性年齢階級別分布',
 '中性脂肪 都道府県別性年齢階級別分布',
 '尿蛋白 都道府県別性年齢階級別分布',
 '尿糖 都道府県別性年齢階級別分布',
 '腹囲 都道府県別性年齢階級別分布',
 'ヘモグロビン 都道府県別性年齢階級別分布',
 '眼底検査（SCOTT分類) 都道府県別性年齢階級別分布',
 '眼底検査（キースワグナー分類） 都道府県別性年齢階級別分布',
 '眼底検査（シェイエ分類：H） 都道府県別性年齢階級別分布',
 '眼底検査（シェイエ分類：S） 都道府県別性年齢階級別分布']

In [32]:
def load_data(url):
    df = pd.read_excel(url, skiprows=1, header=[0, 1, 2])
    
    return df

df_raw = load_data(mc.urls[0])
df_raw.shape

(236, 20)

In [33]:
df_raw = df_raw.fillna(method="ffill")
df_raw = df_raw.fillna(method="ffill", axis=1)

In [ ]:
df_raw.head()

In [35]:
index_cols = []
for col in df_raw.columns:
    if col[0] != "男" and col[0] != "女":
        index_cols.append(col[0])

index_cols_1 = []
for i in range(len(index_cols)):
    index_cols_1.append(f"Unnamed: {str(i)}_level_1")

In [ ]:
df_raw.columns

In [41]:
[' '.join(col).strip() for col in df_raw.columns.values]

['都道府県名 Unnamed: 0_level_1 Unnamed: 0_level_2',
 '検査値階層\n（kg/㎡） Unnamed: 1_level_1 Unnamed: 1_level_2',
 '全体 男 40～44歳',
 '全体 男 45～49歳',
 '全体 男 50～54歳',
 '全体 男 55～59歳',
 '全体 男 60～64歳',
 '全体 男 65～69歳',
 '全体 男 70～74歳',
 '全体 男 中計',
 '全体 女 40～44歳',
 '全体 女 45～49歳',
 '全体 女 50～54歳',
 '全体 女 55～59歳',
 '全体 女 60～64歳',
 '全体 女 65～69歳',
 '全体 女 70～74歳',
 '全体 女 中計',
 '全体 女 中計.1',
 '全体 女 中計.2']